body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.entreeAttr { 
  background-color: aquamarine; 
  width: 120px; 
}

.tblDiv {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}

.hello {
  color: red;
  background-color: black;
}
